@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Fraunces:opsz,wght@9..144,700&family=Lato&family=Open+Sans:wght@300&family=Playfair+Display:wght@700&family=Source+Sans+Pro:wght@300&family=Ubuntu:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Fraunces:opsz,wght@9..144,700&family=Lato&family=Open+Sans:wght@300&family=Playfair+Display:wght@700&family=Source+Sans+Pro:wght@300&family=Ubuntu:wght@300;500&display=swap');

.attribution {
    font-size: 11px;
    text-align: center;
}

.text1 {
    font-weight: 500;
}

.text2 {
    font-family: 'Fraunces', serif;
}

.mainbox1 {
    height: 30rem;
}

.imagetag1 {
    height: 30rem;
    overflow: hidden;
    box-sizing: border-box;
}

@media (max-width: 767px) {
    .hello2 {
        display: flex;
    }

    .grouptext {
        display: flex;
        flex-direction: column;
        border-bottom-left-radius: 5%;
        border-bottom-right-radius: 5%;
    }

    .imagetag1 {
        height: 17rem;
        border-top-left-radius: 5%;
        border-top-right-radius: 5%;
    }

    .botton1 {
        margin-bottom: 1rem;
    }

    .text1 {
        margin-top: 1rem;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .imagetag1 {
        border-top-left-radius: 5%;
        border-top-right-radius: 5%;
    }

    .hello2 {
        display: flex;
    }

    .grouptext {
        display: flex;
        flex-direction: column;
        border-bottom-left-radius: 5%;
        border-bottom-right-radius: 5%;
    }

    .botton1 {
        margin-bottom: 1rem;
    }

    .text1 {
        margin-top: 1rem;
    }
}

@media (min-width: 992px) and (max-width: 1023px) {
    .imagetag1 {
        border-top-left-radius: 5%;
        border-top-right-radius: 5%;
    }

    .hello2 {
        display: flex;
    }

    .grouptext {
        display: flex;
        flex-direction: column;
        border-bottom-left-radius: 5%;
        border-bottom-right-radius: 5%;
    }

    .botton1 {
        margin-bottom: 1rem;
    }

    .text1 {
        margin-top: 1rem;
    }
}

@media (min-width: 1024px) {
    .grouptext {
        border-top-right-radius: 3%;
        border-bottom-right-radius: 3%;
    }
}

.price1 {
    margin-top: 1rem;
    font-family: 'Fraunces', serif;
    font-size: 30px;
    color: hsl(158, 36%, 30%);
}

.pricegroup {
    display: flex;
    flex-direction: row;
}

.price2 {
    margin-top: 1.9rem;
    margin-left: 1rem;
    font-size: 12.5px;
    text-decoration: line-through;
}

.botton1 {
    margin-top: 1rem;
}

.botton1:hover {
    background-color: hsl(147, 59%, 20%);
}

.mainbody {
    background-color: hsl(30, 38%, 90%);
}